@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Bootstrap")
</head>
<body>
    <app-root>Loading... </app-root>
    @Scripts.Render("~/Script/Bundles")
</body>
</html>
